<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Job listing</title>
	</head>
	<body>
		{% extends "basehousekeeper.html" %} {% block content %}
		<h1 class="text-center .text-dark">Jobs List</h1>
		<hr />
		<div class="row text-center">
			{% for row in rows %}
			<div class="col-md-4 pt-5">
				<div class="card mx-auto" style="width: 18rem">
					<img src="{{row.6}}" class="card-img-top" />
					<div class="card-body">
						<h5 class="card-title text-success">{{row.1}}</h5>
						<p class="card-text"><b>Salary</b> Rs.{{row.2}}</p>
						<p class="card-text"><b>Job Reference</b>{{row.3}}</p>
						<p class="card-text"><b>Job Reference</b>{{row.4}}</p>
						<a href="{{url_for('views.application')}}" class="btn btn-primary"
							>Apply</a
						>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		{% endblock %}
	</body>
</html>
